/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.mode-editeur-header {
	height: 60px;
	width: 100vw;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: white;
	z-index: 1;
}

.mode-editeur-header button {
	background: #FFFFFF;
	border-radius: 60px;
	height: 40px;
	padding: 0 20px;
	font-weight: 500;
	font-size: 14px;	
	font-family: 'Work Sans';
	font-style: normal;
	cursor: pointer;
}

.mode-editeur-header p {
	font-weight: 400;
	font-size: 16px;
}



.modale {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;

	/* A CHANGER EN DISPLAY FLEX */

	justify-content: center;
	align-items: center;

}

.modale-container {
	background-color: white;
	border-radius: 10px;
	width: 630px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: sticky;
}

.edit-xmark-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.fa-xmark{
	font-size: 20px;
	cursor: pointer;
}

.modale h2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	color: #000000;
	margin-top: 20px;
}


.edit-work-container {
	margin: 45px auto;
	width: 420px;
	display : grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	align-self: stretch;
}

.edit-work {
	height: 120px;
	display: flex;
	flex-direction: column;
	
}


.edit-work p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
}


.container-container-icons {
	height: 0px;
}

.container-icons{
	width: 19px;
	height: 19px;
	background: #000000;
	border-radius: 2px;
	position: relative;
	display: inline-flex;
}

.container-cross {
	top: -110px;
	left: 40%;
	cursor: grab;
}

.container-trash {
	top: -110px;
	left: 40%;
	cursor: pointer;
	}

.fa-up-down-left-right, .fa-trash-can
{
	color: white;
	margin: auto;
}


.edit-work img {
	object-fit: contain;
	width: 100%;
}

.edit-ligne {
	width: 420px;
	height: 1px;
	background-color: #B3B3B3;
	margin: 40px 0;
	border-radius: 10px;
}

.modale-container button {
	width: 237px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	color: white;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;	
}


.edit-supp { 
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #D65353;
	cursor:pointer;
	margin: 25px 0;

}


.modale-ajout-photo-container {
	background-color: white;
	border-radius: 10px;
	width: 630px;
	height: 670px;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	position: sticky;
}

.fa-arrow-left-long {
	font-size: 20px;
	cursor: pointer;
	position: relative;
	top: 0px;
	left: -48%;
	height: 0px;
}

.modale-ajout-photo-container h2 {
	margin-bottom: 35px;
}

.modale-ajout-photo-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-upload-photo {
	width: 420px;
	height: 170px;
	background: #E8F1F7;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.fa-image {color: #B9C5CC;}

.label-photo {
	background: #CBD6DC;
	border-radius: 50px;
	width: 170px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#photo {
	display: none;
}

.description-upload {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
}

.titre-upload {
	width: 420px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.modale-ajout-photo-container h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px;
}

#titre {
	width:100%;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.categorie-upload {
	width: 420px;
}

#categorie {
	width: 100%;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.modale-ajout-photo-container .edit-ligne {
	margin-top: 47px;
}


.modale-ajout-photo-container button {
	width: 237px;
	height: 36px;
	background: #A7A7A7;
	border-radius: 60px;
	border: 0;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
}














header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

.bouton-switch-edit-mode {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 5px;
cursor: pointer;
margin: 0 10px;
padding: 5px 10px;
}

.bouton-switch-edit-mode i {
	color: black;
}

.text-switch-edit-mode{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #000000;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,
li a:hover {
	color: #B1663C;
}

li a {
	text-decoration: none;
	color: #000000;
}
li img {
	width: 20px;
	height: 20px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
	
}

.filter-cards {	font-family: 'Syne';
font-style: normal;	
font-weight: 700;	
font-size: 16px;	
line-height: 19px;	
border: 1px solid #1D6154;
border-radius: 60px;	
text-align: center;
padding: 10px;
margin: 0 5px;	
color: #1D6154;	
cursor: default;
}
.filter-cards:hover {
background: #1D6154;
border: 1px solid #1D6154;
border-radius: 60px;
color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

